body.single .main-menu {
  padding-left: 200px; }

body.single #site-top a {
  position: absolute;
  left: 50px;
  margin: 0;
  transform: translateY(-20%); }

body.single #site-top img {
  height: 70px; }

body.single #masthead {
  width: 50%;
  height: 100vh;
  float: left; }

body.single .site-main {
  width: 50%;
  float: right;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll; }
