.footer-widgets {
    margin: 0 auto 1.5em;
	padding-top: 50px;
}

.footer-widgets #footer-frontpage,
.footer-widgets #footer-innerpage {
    display: inline-block;
    vertical-align: top;
    padding: 0;
	width: 48.5%;
	margin: 0;
	font-family: "Playfair Display";
	font-weight: 900;
	font-size: 16px;
}

.site-footer .site-info-container {
    background: #ffffff;
}
.footer-widgets #footer-frontpage {
    margin-right: 3%;
}

.footer-widgets #footer-frontpage.widget {
    margin: 0;
}

.footer-widgets .widget-title {
    margin-top: 0;
}
body.single .padding {
    display: block;
}

.footer-widgets.active-footers-1 {
	#footer-frontpage, #footer-innerpage {
		width: 100%;
		margin: 0;
	}
}

@media screen and (max-width: 710px) {
    .footer-widgets {
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    
    .footer-widgets #footer-frontpage,
    .footer-widgets #footer-innerpage {
        width: 100%;
        margin: 0;
    }
    
    body.single.footer-widgets #footer-frontpage,
    body.single.footer-widgets #footer-innerpage {
        width: 100%;
        margin: 0;
    }
    
    body.single .padding {
        width: 100%
    }
}


/**
 * Footer copyright
 */
.site-info {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 1em 0;
	font-size: .8em;
	font-style: italic;
}

body.home .site-info .widget-area,
body.error404 .site-info .widget-area,
body.search-no-results .site-info .widget-area, 
body.archive .site-info .widget-area, 
body.search .site-info .widget-area, {
    width: 400px;
    display: inline-block;
    padding: 0 30px;
}

body.page .footer-widgets,
body.single .footer-widgets {
    padding: 0 40px;
    max-width: 640px;
}

body.page .footer-widgets .widget-area,
body.single .footer-widgets .widget-area {
    width: 280px;
    padding: 0 20px;
    display: inline-block;
    float: left;
}

#site-navigation #main-menu .inner-menu .menu-widgets .widget_tag_cloud .tagcloud a {
    background: none;
    border: none;
}

