#site-navigation {
    top: 0;
    left: 0;
    //position: fixed;
    background: #373A3C;
    right: 0;
	a, a:link, a:visited {
		display: inline-block;
	}
	.menu-container h4 {
		margin-top: 0;
	}
}

// This fixes the retina display issue in Chrome
#main-menu, .genericon-menu {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.main-navigation .menu ul {
    text-align: center;
}
.main-navigation .menu li {
    margin: auto 20px;
}
.main-navigation .menu ul ul {
    text-align: left;
}
.main-navigation .menu li li {
    margin: 0;
}
body #site-navigation {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    list-style: none;
    position: absolute;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    top: -20px;
    position: fixed;
    z-index: 2;
}

body.home .main-navigation ul {
    text-align: center;
}

body.home .main-navigation li {
    text-align: left;
}