body.single .main-menu, body.page .main-menu {
    padding-left: 200px;
}

body.single #site-top a, body.page #site-top a {
    position: absolute;
    left: 50px;
    margin: 0;
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
}

body.single #site-top img, body.page #site-top img {
    height: 70px;
}

body.single #site-top, body.page #site-top {
    margin-top: 25px;
}

body.single #masthead, body.page #masthead{
    width: 50%;
    height: 100vh;
    float: left;
    position: fixed;
}

body.single #content, body.page #content {
    margin-left: 50vw;
}

body.single article.hentry, body.page article.hentry {
    padding-top: 80px;
}

body.error404 header h1,
body.search header h1,
body.archive header h1,
body.search-no-results header h1 {
    font-size: 40px;
    margin-bottom: 0;
    padding-top: 50px;
}

body.error404 #site-top img,
body.search #site-top img,
body.search-no-results #site-top img,
body.archive #site-top img, {
    height: 120px;
}

body.error404 #site-top,
body.search #site-top,
body.search-no-results #site-top,
body.archive #site-top {
    margin-top: 100px;
}